/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: MonumentGroteskRegular;
    src: url(fonts/MonumentGrotesk-Regular.woff) format('woff');
  }
  @font-face {
    font-family: MonumentGroteskMono;
    font-weight: 400;
    src: url(fonts/MonumentGrotesk-Mono.woff) format('woff');
  }
}

* {
  font-family: 'MonumentGroteskRegular', 'MonumentGroteskMono', sans-serif;
}
